.vue {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__img,
    &__button,
    &__background {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        margin-bottom: 20px;
    }

    .button{
        padding: 10px;
        color: #f00;
        border: 1px solid #00f;
        cursor: pointer;
    }

    .background {
        width: 280px;
        height: 160px;
        background: url('../assets/img/2.png') 50% 50% no-repeat;
        border: 1px solid #f00;
    }
}

.block{ 
    width: 500px;
    height: 500px;
    background: url('../assets/img/3.png');
}