.vue {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__img,
    &__button,
    &__background {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 600px;
        margin-bottom: 20px;
    }

    .button{
        cursor: pointer;
        padding: 10px;
        border: 1px solid blue;
    }

    .background {
        border: 1px solid red;
        width: 280px;
        height: 160px;

        background: url('../img/2.png') 50% 50% no-repeat;
    }
}