header 
    .wrapper
        .wrapper__position.wrapper__position_center
            .logo
                img.logo__img(src="./img/logo.png", alt="")
            nav.nav
                ul.items
                    li.items__item.items__item_dark Каталогtttttttttttt
                    li.items__item.items__item_dark  Оплата
                    li.items__item.items__item_dark  Контакты
                    li.items__item.items__item_dark  О галерее
            form.search
                input.serach__input.serach__input_active(type="text" placeholder="Поиск по названию картины")
                button.serach__button.serach__button_active Найти

