section.customers
    .customers__title У НАС ЗАКАЗЫВАЮТ
    .customers-list
        articel.customer-card
            img.customer-card__img(src="../assets/img/1.png", alt="")
            h3.customer-card__title 
        articel.customer-card
            img.customer-card__img(src="../assets/img/1.png", alt="")
            h3.customer-card__title 
        articel.customer-card
            img.customer-card__img(src="../assets/img/1.png", alt="")
            h3.customer-card__title 
        articel.customer-card
            img.customer-card__img(src="../assets/img/1.png", alt="")
            h3.customer-card__title 