.customers {

    &__title {
        margin-bottom: 20px;
        text-align: center;
    }

    &-card{
        @include display-flex(row, center);

        &__img {
            width: 280px;
            height: 160px;
        }

        &__bg {
            width: 280px;
            height: 160px;
            background: url('../assets/img/welcome/bg.png') 50% 50% no-repeat;
        }

        &__title {
            margin-left: 20px;
        }
    }
}