.container 
    .row
        .col-sm-2
            h1 lefsdsdsd
        .col
            h1 center 
        .col-auto
            h1 right
        .col-auto 
            svg.svg-test(width=180 height=180)
                use(xlink:href="../assets/img/sprite.svg#i-cart")
.container-fluid
#app