header {
    display: flex;
    width: 100%;
    height: 96px;
    border: 1px solid rgb(25, 24, 26);

    .logo {
        margin-right: 6%;
        cursor: pointer;

        &__img {
            display: block;
            width: 100%;
        }
    }

    .nav {
        width: 42%;
        margin-right: auto;
    }

    .items {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .search {

        &__input {
            width: 416px;
            height: 48px;
            padding: 10px;
        }
    }
}
