header 
    .wrapper
        .wrapper__position.wrapper__position_center
            .logo
                img.logo__img(src="../assets/img/logo.png", alt="")
            nav.nav
                ul.items
                    li.items__item Каталогgertert
                    li.items__item  Оплата
                    li.items__item  Контакты
                    li.items__item  О галерее
            form.search
                input.serach__input.serach__input_active(type="text" placeholder="Поиск по названию картины")
                button.serach__button.serach__button_active Найти

